@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900');

body {
	background: #121314;
	font-family: 'Roboto', sans-serif;
	min-width: 390px;
	
	h1,h2,h3 {
		font-weight: 100;
	}
	.noselect {
	    -webkit-touch-callout: none;
	      -webkit-user-select: none;
	       -khtml-user-select: none;
	         -moz-user-select: none;
	          -ms-user-select: none;
	              user-select: none;
	}
	.bg-black {
		background: rgb(0,0,0);

		.logo {
			font-size: 2.5em;
			font-weight: bold;
			text-align: center;
			color: #fff;
			cursor: pointer;
		}

		.search {
		    margin-top: 20px;
		    position: relative;
			
			input.form-control {
			    background: transparent;
			    border: 2px solid #fff;
			    border-radius: 5px;
			    color: #fff;
			    font-weight: 600;
			    height: 45px;
		        font-size: 1.2em;
			}
			.icon {
			    position: absolute;
			    top: 50%;
			    margin-top: -15px;
			    right: 10px;
			    cursor: pointer;
			}
		}

		.example {
		    margin-bottom: 70px;
		    color: #5f5f5f;
		    font-size: .85em;
		    padding: 5px 0;
		    font-weight:300;
		    
		    a {
		    	color: #464646;
		    }
		}

		&.start {
		    height: 100%;
		    width: 100%;
		    position: absolute;
		    display: table;
		    
		    >.wrapper {
		    	display: table-cell;
		    	vertical-align: middle;
		    	
		    	.logo {
		    		width: 100%;
		    	}
		    	.field {
		    		width: 50%;
		    		margin-left: 25%;
		    	}
		    }
		}

		&.fixed {
			.container.top {
				display: table;
				
				> div {
					display: table-cell;
					vertical-align: middle;
					
					&.logo {
						width: 180px;
						text-align: left;
					}

					&.field > div {
						margin: 10px 0;
					}
				}
			}
		}
	}

	.bg-grey {
		background: #1b1c1e;
		color: #6c6d6f;
		
		.results {
			.item {
			    display: table;
			    width: 100%;

				> div {
					display: table-cell;
					vertical-align: middle;
				    padding: 5px 10px;
					color: #d2d3d9;
				    background: #2e2f33;
				    margin-bottom: 5px;
				    transition: .3s all ease;

					&.data {
						.img-wrapper {
							width:70px;
							
							.image {
							    border-radius: 50%;
							    background-color: #1b1c1e;
							    background-size: cover;
							    width: 60px;
							    height: 60px;
							    padding: 5px 10px;
							}
						}
					}

					&.link {
						width: 50px;
						color: #84bd00;
						cursor: pointer;
						text-align: center;
						
						&.remove {
						    color: #ff0000;
						}
					}
				}

			    &.artist {
				    margin-bottom: 5px;
				    
				    &.active {
						> div {
						    background: rgb(19, 20, 21);
						    &.link:hover {
						    	background: rgb(14, 14, 15);
						    }
				    	}
				    }

					> div {
						&.link:hover {
							background: #46484e;
						}
						&.clickable {
							cursor: pointer;
							&:hover {
								background: #46484e;
							}
						}
					}
			    }

			    &.album {
			    	&:nth-child(1) {
			    		> div {
			    			border-top: 0;
			    		}
			    	}
			    	> div {
		    		    border-top: 1px solid #2e2f33;
			    		background: transparent;
			    		
			    		&.link:hover {
							color: #5a8200;
			    		}

			    		.artist-info {
		    			    color: #6a6b6d;
						    font-weight: 100;
						    padding-right: 10px;
			    		}
			    	}
			    }
			}
			.more {
				text-align: center;
				padding: 23px 0;
			    border: 2px solid #2e2f33;
			    cursor: pointer;
			    transition: .3s all ease;
			    
			    &:hover {
				    background: #46484e;
				    color: #fff;
				    border-color: #46484e !important;
				}
			}
		}

		.pagination {
			font-size: 1.2em;
			display: block;
			
			table {
				margin: 0 auto;
				
				tr {
					vertical-align: top;
					text-align: center;
					
					td {
						&.pointer {
							cursor: pointer;
						}
						&.link {
							&:hover {
								color: #84bd00;
							}
							&.active {
								color: #84bd00;
								&:hover {
									cursor: default;
								}
							}
							span {
								letter-spacing: -2px;
							}
						}
						&.nav_start {
							&:hover {
								span {
									color: #84bd00;
								}
							}
							span.text {
								float: left;
								margin-left: -10px;
							}
						}
						&.nav_end {
							&:hover {
								span {
									color: #84bd00;
								}
							}
							span.text {
								float: right;
								margin-right: -10px;
							}
						}

						b {
							display: block;
							font-size: 1.85em;
							letter-spacing: 1px;
						}
						span {
							font-weight: 100;
						}
					}
				}
			}
		}
	}
}

/* grid */
.container {
	width: 100%;
	padding: 0 15px;

	.table {
		display: table;
		margin: 0;
	
		.table-cell {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

/* xs */
@media(max-width:767px){
	.field {
		margin: 0 !important;
		width: 100% !important;
		
		.search {
			width: 100%;
		}
	}
	.hidden-xs {
		display: none;
	}
}
/* sm */
@media(min-width:768px){
	.container {
	    width: 750px;
	}
}
/* md */
@media(min-width:992px){
	.container {
	    width: 970px;
	}
}
/* lg */
@media(min-width:1200px){
	.container {
	    width: 1170px;
	}
}