<div ng-class="{start: isStart, fixed: !isStart}" class="bg-black" ng-init='preload()'>
	<div class="wrapper">
		<div class="container top">
		
			<div class="logo" ng-click="reset()">
				<span ng-class="{'hidden-xs': !isStart}"><i class="fa fa-spotify"></i>&nbsp;Spotify</span>
			</div>

			<div class="field">
				<div class="search">
			        <input type="text" class="form-control" ng-model="key" ng-keyup="search()" autofocus>

		          	<svg width="30" height="30" class="icon" ng-click="search()">
						<g fill="#fff">
						    <g>
						        <path d="M12,1.5c5.8,0,10.5,4.7,10.5,10.5S17.8,22.5,12,22.5S1.5,17.8,1.5,12S6.2,1.5,12,1.5 M12,0 C5.4,0,0,5.4,0,12s5.4,12,12,12s12-5.4,12-12S18.6,0,12,0L12,0z"></path>
						    </g>
						    <g>
						        <path d="M27.4,24.6l-4.9-4.9c-0.8,1.1-1.7,2-2.8,2.8l4.9,4.9C25,27.8,25.5,28,26,28s1-0.2,1.4-0.6 C28.2,26.6,28.2,25.4,27.4,24.6z"></path>
						    </g>
						</g>
					</svg>
			    </div>

				<div class='example' ng-show='isStart'>
					<span>Search for album or artist. For example: <a href='#' ng-click="key='Led Zeppelin'; search(); ">Led Zeppelin</a></span>
				</div>
			</div>
		</div>
	</div>

	<div class="wrapper bg-grey" ng-show="!isStart">
		<div class="container results">

				<h2 ng-if='!pagination.page && artists.items.length || selectedArtist'>
					{{!selectedArtist ? 'Artists' : 'Filter for'}}:
				</h2>

				<div class="item artist"
					ng-repeat="artist in artists.items || [selectedArtist] | limitTo: limitArtists track by artist.id"
					ng-class="{active: selectedArtist}"
					ng-if='!pagination.page && artists.items.length || selectedArtist'>

					<div class="data"
						ng-class="{clickable: !selectedArtist}"
						ng-click="!selectedArtist ? selectArtist(artist.id) : ''"
						ng-attr-title="{{!selectedArtist ? 'Show artist\'s albums' : ''}}">

						<div class="table">
							<div class="table-cell img-wrapper">
								<div class="image" style="background-image: url({{artist.images[2].url}})"></div>
							</div>
							<div class="table-cell">
								{{artist.name}}
							</div>
						</div>
					</div>

					<div class="link remove" title="Remove filter"
						ng-click="removeSelected()"
						ng-if="selectedArtist.id == artist.id">
						<i class="fa fa-close fa-2x"></i>
					</div>

					<div class="link" title="Open in Spotify" ng-click="openUrl(artist.external_urls.spotify)">
						<i class="fa fa-external-link fa-2x"></i>
					</div>
				</div>

				<div class="more" ng-if="!pagination.page && artists.items.length != artists.total" ng-click="more()">
					Show more
				</div>


				<h2 ng-show='albums.items.length'>
					Albums<span ng-if="selectedArtist"> of <b>{{selectedArtist.name}}</b></span>:
				</h2>


				<div ng-repeat="album in albums.items" class="item album">
					<div class="data">
						<div class="table">
							<div class="table-cell img-wrapper">
								<div class="image" style="background-image: url({{album.images[2].url}})"></div>
							</div>
							<div class="table-cell">
								{{album.name}}
								<div>
									<span class="artist-info" ng-repeat="artist in album.artists">
										{{artist.name}}
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="link" ng-click="openUrl(album.external_urls.spotify)" title="Open in Spotify">
						<i class="fa fa-external-link fa-2x"></i>
					</div>
				</div>

				<div class="pagination noselect">
					<table>
						<tr ng-if='artists.items.length || albums.items.length'>
							<td class='nav_start' ng-click="pagination.page ? go(-1) : ''" ng-class="{pointer: pagination.page}">
								<b>
									<span ng-if='pagination.page'>
										<i class="fa fa-angle-left"></i>
									</span>
									<i class="fa fa-spotify"></i>&nbsp;Sp
								</b>
								<span ng-if="pagination.page" class='text'>Prev</span>
							</td>

							<td ng-repeat='item in pages' ng-click='pagination.page = item; search();' class="link pointer" ng-class="{active: pagination.page == item}">
								<b>o</b>
								<span ng-if="pages.length-1">{{item+1}}</span>
							</td>

							<td class='nav_end pointer' ng-click="pagination.next ? go(1) : ''" ng-class="{pointer: pagination.next}">
								<b>tify 
									<span ng-if="pagination.next">
										<i class="fa fa-angle-right"></i>
									</span>
								</b>
								<span ng-if="pagination.next" class='text'>Next</span>
							</td>
						</tr>

						<tr ng-if='!artists.items.length && !albums.items.length'>
							<td>
								No results.
							</td>
						</tr>
					</table>
				</div>
				

		</div>
	</div>
</div>
